// DARK COLOR SCHEME
$bg-dark: hsl(240, 33%, 14%);
$primary-dark: hsl(235, 24%, 19%);
$font-dark: hsl(235, 11%, 87%);

// LIGHT COLOR SCHEME
$bg-light: hsl(0, 0%, 90%);
$primary-light: hsl(0, 0%, 100%);
$font-light: hsl(225, 14%, 11%);

// UNIVERSAL
$checked-color: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$cancelled-color: hsl(232, 22%, 42%);
$border-color: hsl(0, 0, 44%);
$active-color: hsl(220, 98%, 61%);
